.div {
  width: 18vw;
  height: 18vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
  position: relative;
  border-radius: 0.4rem;
  margin: 0.5rem;
  }

  .div:hover {
    width: 17vw;
    height: 17vw;
    transition: 0.6s;
  }

.name {
  font-size: 0.8em;
  position: absolute;
  bottom: 10vh;
  left: 1vw;
  background-color: antiquewhite;
  width: 10vw;
}
.image {
  width: 100%;
}
.btn {
  background-color: aqua;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 1.5vw;
  height: 3vh;
  cursor: pointer;
}

.data {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
